# CRITICAL: Ignore Secrets
.streamlit/secrets.toml
**/secrets.toml

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / Packaging
build/
dist/
*.egg-info/

# IDE settings
.vscode/
.idea/
